<div class="row">
    <style>h1{color:white;}</style><h1> Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
<li> <style>h1{color: white;}</style><h1>Estudio I</h1> - <style>h3{color:white;}</style><h3>(Years)</h3></li>
<style>h4{color:white;}</style><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi omnis facere, sit necessitatibus qui repellat assumenda, eveniet quaerat iusto autem tempore vitae totam quia neque itaque consequatur ullam fuga. Explicabo.</h4>
</ul>
<ul>
    <li> <style>h1{color: white;}</style><h1> Estudio II</h1> - <style>h3{color:white;}</style><h3>(Years)</h3></li><style>h4{color:white;}</style><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi omnis facere, sit necessitatibus qui repellat assumenda, eveniet quaerat iusto autem tempore vitae totam quia neque itaque consequatur ullam fuga. Explicabo.</h4>
    </ul>

    <ul>
    <li> <style>h1{color: white;}</style><h1>Estudio III</h1> - <style>h3{color:white;}</style><h3>(Years)</h3></li><style>h4{color:white;}</style><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi omnis facere, sit necessitatibus qui repellat assumenda, eveniet quaerat iusto autem tempore vitae totam quia neque itaque consequatur ullam fuga. Explicabo.</h4>
    </ul>
        
    <ul>
    <li> <style>h1{color: white;}</style><h1>Estudio IV</h1> - <style>h3{color:white;}</style><h3>(Years)</h3></li><style>h4{color:white;}</style><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi omnis facere, sit necessitatibus qui repellat assumenda, eveniet quaerat iusto autem tempore vitae totam quia neque itaque consequatur ullam fuga. Explicabo.</h4>
    </ul>
    </div>
</div>

