<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/perfil foto.png"class="img-fluid" id="fotodeperfil"></div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <style>h2{color:white};</style><h2 id="nombre">Cristian Romero</h2>
    <style>h3{color: white};</style><h3>Full Stack Developer Jr</h3>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <style>h1{color:white;}</style><h1>Acerca De Mí</h1>
        <style>h5{color: white;}</style><h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus temporibus enim consequuntur dignissimos nam vero! Error nam minus aperiam corrupti voluptate nemo eos inventore ipsum. Exercitationem corporis inventore accusantium optio?</h5>
    </span>
</div>
    </div>
