<div class="row">
    <style>h1{color: white;}</style><h1>Hard & Soft skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="95"
  [radius]="100"
  [imageSrc]="'../assets/Html.png'"
  [imageHeight]="180"
  [imageWidth]="180"
  [showImage]="true"
[showUnits]="false"
[showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'orange'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/CSS.png'"
  [imageHeight]="180"
  [imageWidth]="180"
  [showImage]="true"
[showUnits]="false"
[showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#1296C2'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/js.png'"
  [imageHeight]="330"
  [imageWidth]="330"
  [showImage]="true"
[showUnits]="false"
[showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'yellow'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/Github.png'"
  [imageHeight]="170"
  [imageWidth]="170"
  [showImage]="true"
[showUnits]="false"
[showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="100"
  [radius]="100"
  [imageSrc]="'../assets/grupal.png'"
  [imageHeight]="265"
  [imageWidth]="270"
  [showImage]="true"
[showUnits]="false"
[showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'violet'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="55"
  [radius]="100"
  [imageSrc]="'../assets/Eng.png'"
  [imageHeight]="265"
  [imageWidth]="270"
  [showImage]="true"
[showUnits]="false"
[showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'red'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
</div>
